################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenSesameConsulting/FileContentIndex/24ee7374-7cab-4d9d-8370-896b934f04ab.vsidx
/.vs/OpenSesameConsulting/FileContentIndex/49ae1ee9-c45e-4e18-97b7-a2a46d252c3d.vsidx
/.vs/OpenSesameConsulting/FileContentIndex/3eb7852a-fd55-4157-86f8-9f95fd1cb19c.vsidx
