################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenSesameConsulting/FileContentIndex/24ee7374-7cab-4d9d-8370-896b934f04ab.vsidx
/.vs/OpenSesameConsulting/FileContentIndex/49ae1ee9-c45e-4e18-97b7-a2a46d252c3d.vsidx
/.vs/OpenSesameConsulting/FileContentIndex/3eb7852a-fd55-4157-86f8-9f95fd1cb19c.vsidx
/.vs/OpenSesameConsulting/FileContentIndex/502d0a72-9efc-4ab2-8813-2f2f85916ca4.vsidx
/.vs/OpenSesameConsulting/FileContentIndex/a9813bca-8b47-409b-a8d0-e662baa02339.vsidx
/.vs/OpenSesameConsulting/FileContentIndex/ac561baf-df43-4401-ab08-c7d3c954e510.vsidx
/.vs/OpenSesameConsulting/FileContentIndex/ff2b30c7-572a-4f70-aa75-c549b4854859.vsidx
