################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenSesameConsulting/FileContentIndex/24ee7374-7cab-4d9d-8370-896b934f04ab.vsidx
