@{
  ViewData["Title"] = "Features Page";
  Layout = "/Views/Shared/_Layout.cshtml";
}

<body>
  <section id="features" class="feature-sec">
    <!-- main header of the page -->
    <div class="main-header left-heading bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <h2 class="main-heading" data-heading="02">features</h2>
          </div>
          <div class="col-xs-12 col-sm-8">
            <div class="txt-wrap">
              <p>Lorem ipsum dolor sit amet, ac aptent pellentesque ac, urna libero enim<br> Malesuada ut pede wisi, vitae dapibus egestas, duis odio diam mollitia consequat<br> elementum </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- main header of the page end -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!-- tabset of the page -->
          <ul class="list-unstyled tabset">
            <li>
              <a class="active" href="#tab5">
                <span class="icon"><i class="icon-layers"></i><i class="icon-layers"></i></span>
                <span class="title">web design</span>
              </a>
            </li>
            <li>
              <a href="#tab6">
                <span class="icon"><i class="icon-layout"></i><i class="icon-layout"></i></span>
                <span class="title">development</span>
              </a>
            </li>
            <li>
              <a href="#tab7">
                <span class="icon"><i class="icon-idea"></i><i class="icon-idea"></i></span>
                <span class="title">branding</span>
              </a>
            </li>
            <li>
              <a href="#tab8">
                <span class="icon"><i class="icon-shopping-cart"></i><i class="icon-shopping-cart"></i></span>
                <span class="title">marketing</span>
              </a>
            </li>
            <li>
              <a href="#tab9">
                <span class="icon"><i class="icon-settings"></i><i class="icon-settings"></i></span>
                <span class="title">free support</span>
              </a>
            </li>
          </ul>
          <!-- tabset of the page end -->
        </div>
      </div>
      <div class="row">
        <!-- tab content of the page -->
        <div class="col-xs-12 tab-content">
          <div id="tab5">
            <div class="text-wrap text-right">
              <h3 class="heading text-uppercase">free support</h3>
              <p>Lorem ipsum dolor sit amet, diam in vestibulum ornare eget integer, et <br>erat. Aenean pede. In sit volutpat nunc vel per habitasse. Amet morbi amet <br>malesuada et. Velit a neque condimentum, elementum lacinia phasellus <br>eros suspendisse auctor, feugiat pellentesque.</p>
              <ul class="list-unstyled support-list">
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
              </ul>
            </div>
            <div class="img-holder">
              <img src="http://placehold.it/550x375" alt="image description">
            </div>
          </div>
          <div id="tab6" class="align-left">
            <div class="img-holder">
              <img src="http://placehold.it/550x375" alt="image description">
            </div>
            <div class="text-wrap">
              <h3 class="heading text-uppercase">free support</h3>
              <p>Lorem ipsum dolor sit amet, diam in vestibulum ornare eget integer, et <br>erat. Aenean pede. In sit volutpat nunc vel per habitasse. Amet morbi amet <br>malesuada et. Velit a neque condimentum, elementum lacinia phasellus <br>eros suspendisse auctor, feugiat pellentesque.</p>
              <ul class="list-unstyled support-list">
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
              </ul>
            </div>
          </div>
          <div id="tab7">
            <div class="text-wrap text-right">
              <h3 class="heading text-uppercase">free support</h3>
              <p>Lorem ipsum dolor sit amet, diam in vestibulum ornare eget integer, et <br>erat. Aenean pede. In sit volutpat nunc vel per habitasse. Amet morbi amet <br>malesuada et. Velit a neque condimentum, elementum lacinia phasellus <br>eros suspendisse auctor, feugiat pellentesque.</p>
              <ul class="list-unstyled support-list">
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
              </ul>
            </div>
            <div class="img-holder">
              <img src="http://placehold.it/550x375" alt="image description">
            </div>
          </div>
          <div id="tab8" class="align-left">
            <div class="img-holder">
              <img src="http://placehold.it/550x375" alt="image description">
            </div>
            <div class="text-wrap">
              <h3 class="heading text-uppercase">free support</h3>
              <p>Lorem ipsum dolor sit amet, diam in vestibulum ornare eget integer, et <br>erat. Aenean pede. In sit volutpat nunc vel per habitasse. Amet morbi amet <br>malesuada et. Velit a neque condimentum, elementum lacinia phasellus <br>eros suspendisse auctor, feugiat pellentesque.</p>
              <ul class="list-unstyled support-list">
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
              </ul>
            </div>
          </div>
          <div id="tab9">
            <div class="text-wrap text-right">
              <h3 class="heading text-uppercase">free support</h3>
              <p>Lorem ipsum dolor sit amet, diam in vestibulum ornare eget integer, et <br>erat. Aenean pede. In sit volutpat nunc vel per habitasse. Amet morbi amet <br>malesuada et. Velit a neque condimentum, elementum lacinia phasellus <br>eros suspendisse auctor, feugiat pellentesque.</p>
              <ul class="list-unstyled support-list">
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
                <li><i class="fa fa-check-square"></i> Lorem ipsum dolor sit amet</li>
              </ul>
            </div>
            <div class="img-holder">
              <img src="http://placehold.it/550x375" alt="image description">
            </div>
          </div>
        </div>
        <!-- tab content of the page end -->
      </div>
    </div>
  </section>

</body>
