@{
  ViewData["Title"] = "Home Page";
}

<body>
  <!-- header of the page end -->
  <!-- main of the page -->
  <main id="main">
    <!-- main banner of the page -->
    <section class="main-banner overlay bg-full" style="background-image: url(/images/Keys.jpeg)">
      <div class="caption text-center">
    @*     <span class="title">simple &amp; creative</span> *@
        <h1>we are <span class="clr"><i>Open Sesame Consulting</i></span></h1>
       @*  <span class="sub-title">you will get more than you expected</span> *@
        <a href="@Url.Action("About","Home")" class="btn">learn more</a>
      </div>
    </section>
   
    <!-- team sec of the page end -->
    <!-- testimonials sec of the page -->
    <section class="testimonials-sec bg-grey2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-push-6">
            <!-- header of the page -->
            <header class="header text-right">
              <h2 class="heading text-uppercase">what our clients say</h2>
              <p>Lorem ipsum dolor sit amet, diam in vestibulum ornare eget integer, et <br>erat. Aenean pede. In sit volutpat nunc vel per habitasse. Amet morbi <br>amet malesuada et. Velit a neque condimentum, elementu.</p>
            </header>
            <!-- header of the page end -->
          </div>
          <div class="col-xs-12 col-sm-6 col-sm-pull-6">
            <span class="blockquote bg-dark text-center"><i class="fa fa-quote-right"></i></span>
            <!-- testimonials slider of the page -->
            <ul class="list-unstyled testimonials-slider">
              <li>
                <h3 class="heading text-uppercase">jonathan doe</h3>
                <span class="sub-title">customer</span>
                <p>Lorem ipsum dolor sit amet, diam in vestibulum ornare eget <br>integer, et erat. Aenean pede. In sit volutpat nunc vel per <br>habitasse. </p>
              </li>
              <li>
                <h3 class="heading text-uppercase">jonathan doe</h3>
                <span class="sub-title">customer</span>
                <p>Lorem ipsum dolor sit amet, diam in vestibulum ornare eget <br>integer, et erat. Aenean pede. In sit volutpat nunc vel per <br>habitasse. </p>
              </li>
              <li>
                <h3 class="heading text-uppercase">jonathan doe</h3>
                <span class="sub-title">customer</span>
                <p>Lorem ipsum dolor sit amet, diam in vestibulum ornare eget <br>integer, et erat. Aenean pede. In sit volutpat nunc vel per <br>habitasse. </p>
              </li>
            </ul>
            <!-- testimonials slider of the page end -->
          </div>
        </div>
      </div>
    </section>
    <!-- testimonials sec of the page end -->
  </main>
  <!-- main of the page end --> 
</body>